::selection {
    color: white;
    background-color:#fb2056;
}

footer {
    background-color: #191919;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}