body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.2);
}

#navBar {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

#navTitle {
    margin-left: 40px;
}

#navPages {
    display: flex;
    margin-right: 40px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

li {
    display: flex;
    display: inline;

}

#mCust {display: flex; justify-content: flex-end;}
#customize {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: white;
    width: 102.938px;
    height: 16px;
    padding: 16px;
    margin-top: 140px;
    position: fixed;
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
}
#customize:hover{background-color: #2563eb; color:white; cursor: pointer;}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: white;
}

.LMButton {
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border: 0px solid black;
    border-top-right-radius: 33.33px;
    border-bottom-right-radius: 33.33px;
    border-top-left-radius: 33.33px;
    border-bottom-left-radius: 33.33px;
    background-color: #fb2056;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    /* font-size: 87.5%; */
    text-align: center;
    letter-spacing: 1px;
}
.LMBparent {
    display: flex;
    justify-content: center;
}
.LMBgrandpa {display: flex; align-items: center;}


footer {
    background-color: #191919;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
#footerEnd {
    display: flex;
    flex-direction: column;
    align-items: center;
}