body {
    margin: 0;
    padding: 0;
    /* background-color: black; */
}
::selection {
    color: white;
    background-color:#fb2056;
}
.menuPages a {
    border: 1px solid black;
    background-color: white;
    color: black;
}
.headAr {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 831px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53)),url("./images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}

#navBar {
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navTitle {
    margin-left: 40px;
}
#navTitle2 {margin-left: 20px; margin-top: 5px; display: none;}

.navPages {
    height: 74px;  
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
    gap:30px;
}

.nPclick {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    gap: 30px;
}
.nPclick img {
    padding: 30px;
}
.switch {
    display: unset;
    /* display: none; */
}
.switch2 {
    display: none;
}
.main1 {text-align: center;}

#mCust {display: flex; justify-content: flex-end;}
#customize {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow:-2px -1px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 102.938px;
    height: 16px;
    padding: 16px;
    margin-top: 140px;
    position: fixed;
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
}
#customize:hover{
    background-color: #2563eb;
    color:white;
    cursor: pointer;
}

main {
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto slab", sans-serif;
    font-weight: bolder;
    color: white;
}

.mainUP {
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 315px;
}
#mh2 {
    display: flex;
    flex-direction: column;
    color: white;
}
#Uhm2 {
    border-bottom: 2px solid #fb2056;
    width: 50px;
    height: 2px;
}
.main1 {
    display: flex;
    align-items: center;
    /* padding-bottom: 20px; */
}
#mh1 {
    font-size: 200%;
    color: white;
}

#LMButton,#TAB {
    padding: 14px;
    padding-left: 35px;
    padding-right: 35px;
    border: 0px solid black;
    border-top-right-radius: 33.33px;
    border-bottom-right-radius: 33.33px;
    border-top-left-radius: 33.33px;
    border-bottom-left-radius: 33.33px;
    background-color: #fb2056;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    text-align: center;
    

    
}
#LMBparent {
    display: flex;
    justify-content: center;
}
#LMBgrandpa {
    display: flex;
    align-items: center;
}

.main1 {
    margin: auto;
    display: flex;
    justify-content: center;
}

.mainMID1 {
    background-image: url("./images/invisible-thing.png");
    /* background-color:#fb2056; */
    background-repeat: no-repeat;
    background-size: contain;
    height: 74px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 70.5px;
    margin-right: 70.5px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

.mMID1text {
    height:72px;
    margin: 0;
    color: #191919;
    display: flex;
    font-family: 'Noto Sans',sans-serif;
    font-style: normal;
    font-weight:lighter;
    justify-content: center;
}
.mTXTw {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mMID1text1 {font-size: 133%;}
#mMID1text2 {margin: 0;}

.mainMID2 {
    /* height: 826px; */
    margin-top: 100px;
    display: flex;
    justify-content: center;    
    margin-left: 70.5px;
    margin-right: 70.5px;
}

.mMID2Container {
    display: flex;
    justify-content: center;
}
.mMID2Title {
    font-size: 150%;
    color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.mMID2Decor {
    border-bottom: 3px solid #fb2056;
    width: 90px;
    height: 0px;
    margin: auto;
    margin-top: 0;
    
}

p {
    font-family: "Noto Sans",sans-serif;
    text-align: center;
}
.mMID2Events {
    margin-top: 60px;
    padding-bottom: 60px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.mMID2Eleft {
    display: flex;
    justify-content: center;
}
.ER2div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.EL2div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgCampContainer {
    width: 100%;
}
.imgCampContainer img {
    border-radius: 5px;
    width: 100%;
    box-shadow:8px 8px 1px 1px rgba(0, 0, 0, 0.3);
}

.campTxtContain {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campTxtContain p {
    font-weight: lighter;
}

.campButton {
    font-size: 0.875rem;
    font-family: "Noto Sans",sans-serif;
    color: white;
    background-color: #fb2056;
    border-radius: 33.33px;
    height: 14px;
    width: 115.35px;
    padding: 17px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgHolidContainer img {
    border-radius: 5px;
    width: 100%;
    box-shadow:8px 8px 1px 1px rgba(0, 0, 0, 0.3);
}

.holidTxtContain {
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.holidTxtContain p {
    font-weight: lighter;
}
h3 {
    font-size: 120%;
}

.holidButton {
    font-size: 0.875rem;
    font-family: "Noto Sans",sans-serif;
    color: white;
    background-color: #fb2056;
    border-radius: 33.33px;
    height: 14px;
    width: 115.35px;
    padding: 17px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainMID3 {
    width: 100%;
    padding-top: 170px;
    padding-bottom: 170px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53)),url("./website-imgs/section-bg-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    align-items: center;
}
.mainMID3 .divMID3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mMID3Separator {
    display: flex;
    justify-content: center;
}
.mMID3Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 515px; */
}
.VoidSep {width: 50%;}
.SpMID3 {width: 50%;}
.mMID3Decor {
    border-bottom: 3px solid #fb2056;
    width: 60px;
    height: 0px;
    margin-top: 0;
}

.Txt3 {
    text-align: left;
    font-weight: lighter;
}
.mainDOWN {
    /* height: 811px; */
}

.mDOWNgroup {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    /* padding-left: 60px;
    padding-right: 60px; */
}
.mDOWNinfoContain {
    color: black;
    width: 30%;
    height: 100%;
    padding: 0;
    padding-left: 60px;
    padding-right: 60px;

}
.mDOWNtitle {
    font-size: 220%;
}
.mDOWNinfoContain p {
    text-align: left;
    font-weight: lighter;
}

.mDOWNimgsContain {
    width: 55%;
    display: flex;
    flex-direction: row;
}
.mDOWNimgsCol {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;   
}
.mDOWNimgsCol img {
    height: 100%;
    width: 100%;
}
.mDOWNcol2 {
    padding-left: 20px;
}
img {
    /* block-size: 50%; */
    border-radius: 5px;
}
#navTitle2,#navTitle {border-radius: 0px;}

footer {
    background-color: #191919;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:1024){

}
@media (max-width:818px) {
    h1 {font-size: 44px;}
    .switch {display: none;}
    .switch2 {display: initial;}
    .main1 {margin: 0;}
}
@media only screen and (max-width: 768px) {
    .mMID2Events {
        display: flex;
        flex-direction: column;

    }
    .headAr {height: 600px;}
    nav {background-color: white;}
    #navTitle {display: none;}
    #navTitle2 {display: unset;}
    main {height: fit-content;}
    #Uhm2 {width: 80px;}
    .mMID2Decor {width: 140px;}
    .mMID3Decor {width: 120px;}
    h1 {font-size: 44px;}
    .main1 h2 {font-size: 20px}
    .mainMID3 {background-attachment: unset; background-size:cover; height: 400px;}
    .VoidSep{display: none;}
    .mMID3Separator {justify-content: left; margin-left: 20px;}
    .SpMID3 {width: 100%;}
    .mainMID3 {padding-top: 0px; padding-bottom: 20px;}
    .mMID3Separator h2 {text-align: left;}
    .mMID3Separator p {text-align: left;}
    .mainDOWN {height: unset;}
    .mDOWNgroup {flex-direction: column; padding-top: 40px;}
    .mDOWNinfoContain {padding:0; padding-left: 20px; padding-right: 20px; width: 100%;}
    .mDOWNimgsContain {margin-top: 30px; padding-left: 10px; flex-direction: column; width: 100%;}
    .mDOWNimgsContain img {width: 90%;}
    .mDOWNimgsCol {width: 100%;}
    .mDOWNcol2 {width: 100%; padding-left: 0;}
}
@media (max-width:480px) {
    .headAr {height: 600px;}
    nav {background-color: white;}
    #navTitle {display: none;}
    #navTitle2 {display: unset;}
    main {height: fit-content;}
    h1 {font-size: 30px;}
    .main1 h2 {font-size: 20px}
    .mainMID3 {background-attachment: unset; background-size:cover; height: 400px;}
    .VoidSep{display: none;}
    .mMID3Separator {justify-content: left; margin-left: 20px;}
    .SpMID3 {width: 100%;}
    .mainMID3 {padding-top: 0px; padding-bottom: 20px;}
    .mMID3Separator h2 {text-align: left;}
    .mMID3Separator p {text-align: left;}
    .mainDOWN {height: unset;}
    .mDOWNgroup {flex-direction: column; padding-top: 40px;}
    .mDOWNinfoContain {padding:0; padding-left: 20px; padding-right: 20px; width: 100%;}
    .mDOWNimgsContain {margin-top: 30px; padding-left: 10px; flex-direction: column; width: 100%;}
    .mDOWNimgsContain img {width: 90%;}
    .mDOWNimgsCol {width: 100%;}
    .mDOWNcol2 {width: 100%; padding-left: 0;}
}